{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '../static/css/blocks/footer/main_footer_css.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <section class="main_section_footer">
        <section class="main_container">
            <p class="copyright">© 2021-2022 Modern Face. All Rights Reserved.</p>
            <ul class="main_ul">
                <li><a href="/about">About</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/csgo">CS:GO</a></li>
                <li><a href="/other">Other</a></li>
                <li><a href="/EULA">EULA</a></li>
            </ul>
        </section>
    </section>
</body>
</html>