{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gremlin E1</title>
    <link rel="stylesheet" href="{% static '../static/css/other/rockets/gremlin_e1.css' %}">
</head>
<body>
    <main>
        {% include 'blocks/menu/main_menu.html' %}
        <section class="main_section">
            <h1 class="title">GREMLIN E1</h1>

            <h2 class="list">LIST OF ENGINES</h2>

            <ul class="list_ul">
                <li>E1 SN0 - test</li>
            </ul>

            <h2 class="list">VIDEOS</h2>

            <iframe width="920" height="518" src="https://www.youtube.com/embed/j7laTtImB8c?start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        {% include 'blocks/footer/main_footer.html' %}
    </main>

    <div class="for_small">
        <img src="../../../../static/img/smiles/pokerface_smile.png">
        <p>Your device is too small!</p>
    </div>
</body>
</html>