{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget password</title>
    <link rel="stylesheet" href="{% static '../static/css/accounts_css/profile/forget_password_css.css' %}">
</head>
<body>
    {% include 'blocks/menu/main_menu.html' %}
    <div class="main_sec_cont">
        <section class="main_sec">
            <div class="was_sent_cont">
                <p id="message" class="was_sent">{{ message }}</p>
                <p class="was_sent">{{ email }}</p>
            </div>
            <form method="post" class="main_form">
                {% csrf_token %}
                <input class="code_input" name="codeInput" type="text" maxlength="4" id="code_input">
                <input class="code_submit" type="submit" id="code_submit" value="VERIFY" disabled required>
            </form>
            <p class="error_p" id="error_p">{{ error }}</p>
        </section>
        {% include 'blocks/pictures/pictures.html' %}
    </div>
</body>
<script>
    window.addEventListener("load", function(event) {
        const message = document.getElementById('message')
        const codeInput = document.getElementById('code_input')
        const codeSubmit = document.getElementById('code_submit')
        const errorP = document.getElementById('error_p')

        let errorPCoonter = 0

        function Check () {
            setTimeout(Check, 100)

            if (message.innerHTML != "This username doesn't exist!") {
                if (codeInput.value.length == 4) {
                    codeSubmit.disabled = false
                    codeSubmit.style.opacity = '1'
                    errorP.style.display = 'block'
                    codeSubmit.classList.add('code_submit_add')
                } else if ((codeInput.value.length != 0) && (codeInput.value.length != 4)) {
                    codeSubmit.disabled = true
                    codeSubmit.style.opacity = '0.5'
                    errorP.innerHTML = ''
                    codeSubmit.classList.remove('code_submit_add')
                } else {
                    codeSubmit.disabled = true
                    codeSubmit.style.opacity = '0'
                    codeSubmit.classList.remove('code_submit_add')
                }
            } else {
                codeInput.style.display = 'none'
                codeSubmit.style.display = 'none'
            }

            if (errorP.innerHTML == 'Сode limit exceeded!') {
                codeInput.remove()
                codeSubmit.remove()
                errorP.style.marginTop = '20px'
            }
        }

        setTimeout(Check, 100)
    }, false);
</script>
</html>