{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" href="{% static '../static/css/accounts_css/profile/new_password_css.css' %}">
</head>
<body>
    {% include 'blocks/menu/main_menu.html' %}
    <div class="main_sec_cont">
        <section class="main_sec">
            <form method="POST" class="main_form">
                {% csrf_token %}
                <p class="passwrod_p">New password</p>
                <div class="input_line"><input type="password" name="new_password" id="new_password" class="new_password passwrod" required minlength="8" maxlength="32"><div id="see_password" class="see_password"><img id="see_password_img" src="../../../static/img/buttons/see_password.png"></div></div>
                <p class="passwrod_p">Repeat new password</p>
                <input type="password" name="repeat_password" id="repeat_password" class="repeat_password passwrod" required minlength="8" maxlength="32" disabled>
                <input type="submit" value="CHANGE PASSWORD" id="submit_password" class="submit_password" disabled>
                <p class="error_p" id="error_p"></p>
            </form>
        </section>
        {% include 'blocks/pictures/pictures.html' %}
    </div>
</body>

<script>
    window.addEventListener("load", function(event) {
        const newPassword = document.getElementById('new_password')
        const repeatPassword = document.getElementById('repeat_password')
        const submitPassword = document.getElementById('submit_password')
        const error_p = document.getElementById('error_p')
        const seePassword = document.getElementById('see_password_img')
        const seePasswordCont = document.getElementById('see_password')

        let seePasswordState = false

        let buttonUnlock = false

        let error = ''
        let errorSecond = ''

        let newPasswordError = true
        let repeatPasswordError = true

        function check () {
            setTimeout(check, 100)

            if ((newPassword.value.length >= 8) && (newPassword.value.length <= 32)) {
                if (newPassword.value.search(/\d/) == -1) {
                    error = 'Your password should include numbers!'
                    error_p.innerHTML = error
                    error_p.style.opacity = 1
                    if (buttonUnlock == false) {
                        repeatPassword.disabled = true
                    }
                    newPasswordError = true
                } else if (newPassword.value.search(/[a-zA-Z]/) == -1) {
                    error = 'Your password should include english letters!'
                    error_p.innerHTML = error
                    error_p.style.opacity = 1
                    if (buttonUnlock == false) {
                        repeatPassword.disabled = true
                    }
                    newPasswordError = true
                } else if (newPassword.value.search(/[^a-zA-Z0-9\!\@\#\$\%\^\&\*\(\)\_\+]/) != -1) {
                    error = 'Your password should include only numbers, english letters and special characters (!@#$%^&*()_+)!'
                    error_p.innerHTML = error
                    error_p.style.opacity = 1
                    if (buttonUnlock == false) {
                        repeatPassword.disabled = true
                    }
                    newPasswordError = true
                } else {
                    error = ''
                    error_p.style.opacity = 0
                    if (repeatPassword.disabled == true) {
                        error_p.innerHTML = error
                    }
                    repeatPassword.disabled = false
                    newPasswordError = false
                }
            } else {
                error = ''
                error_p.innerHTML = error
                if (buttonUnlock == false) {
                    repeatPassword.disabled = true
                }
                newPasswordError = true
            }

            if (repeatPassword.disabled == false) {
                if ((repeatPassword.value.length >= 8) && (repeatPassword.value.length <= 32)) {
                    if (repeatPassword.value != newPassword.value) {
                        errorSecond = "Passwords don't match!"
                        error_p.innerHTML = errorSecond
                        error_p.style.opacity = 1
                        repeatPasswordError = true
                    } else if (repeatPassword.value == newPassword.value) {
                        error_p.style.opacity = 0
                        buttonUnlock = true
                        repeatPasswordError = false
                    }
                } else {
                    repeatPasswordError = true
                }
            } else {
                repeatPasswordError = true
            }

            console.log(newPasswordError, repeatPasswordError)

            if ((repeatPasswordError == false) && (newPasswordError == false)) {
                submitPassword.disabled = false
                submitPassword.style.opacity = 1
                submitPassword.classList.add('submit_password_add')
            } else {
                submitPassword.classList.remove('submit_password_add')
                submitPassword.disabled = true
                submitPassword.style.opacity = 0.5
            }
        }

        repeatPassword.onfocus = function () {
            seePassword.src = '../../../static/img/buttons/see_password.png'
            seePasswordState = false
            newPassword.type = 'password'
            seePasswordCont.style.display = 'none'
        }

        newPassword.onfocus = function () {
            seePasswordCont.style.display = 'block'
        }

        seePassword.onclick = function () {
            if (seePasswordState == false) {
                seePassword.src = '../../../static/img/buttons/see_password_close.png'
                seePasswordState = true
                newPassword.type = 'text'
            } else {
                seePassword.src = '../../../static/img/buttons/see_password.png'
                seePasswordState = false
                newPassword.type = 'password'
            }
        }

        setTimeout(check, 100)
    }, false);
</script>
</html>