@media screen, (min-width: 1024px){
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, 'sans-serif';
    }

    .for_small {
        display: none;
    }

    .main_sec_cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main_form {
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }

    .main_form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        width: 30vw;
        font-family: Verdana, 'sans-serif';
    }

    .passwrod {
        font-weight: bold;
        width: 55%;
        margin-left: 90px;
        font-size: 1.1em;
        letter-spacing: 0.2em;
        padding: 2px;
        margin-bottom: 20px;
    }

    .passwrod_p {
        width: 55%;
        margin-left: 90px;
        margin-bottom: 5px;
        font-size: 1.1em;
    }

    .new_password {
        outline: none;
    }

    .repeat_password {
        outline: none;
    }

    .submit_password {
        width: 55%;
        margin-left: 95px;
        padding: 10px;
        background-color: black;
        color: white;
        border-radius: 5px;
        opacity: 0.5;
        border: none;
        transition: 0.3s;
        font-weight: bold;
    }

    .submit_password_add:hover {
        background-color: #410056;
        cursor: pointer;
    }

    .error_p {
        margin-top: 20px;
        margin-left: 95px;
        width: 55%;
        text-align: center;
        opacity: 0;
        transition: 1s;
    }

    .input_line {
        display: flex;
    }

    .see_password {
        margin-left: 10px;
        border: 10px;
        display: none;
    }

    .see_password:hover {
        cursor: pointer;
    }

    .see_password img {
        width: 30px;
    }

    .painting_main {
        margin-top: 5vh;
        width: 70vh;
        margin-left: auto;
        margin-right: auto;
    }

    .main_sec_cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media not screen, (max-width: 1023px) {
    main {
        display: none;
    }

    .for_small img{
        width: 20%;
    }

    .for_small {
        margin-top: 20px;
        display: block;
        text-align: center;
    }
}